:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* margin: 0 auto; */
 
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 2em;
  line-height: .8;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.tooltip rect {
  fill: white;
  stroke: black;
}

.tooltip-text {
  font-size: 12px;
}
.date-label {
  font-size: 12px;
  fill: #483d8b99;
}

div.sidebar-holder {
  width: 100vw;
  height: 100%;
  overflow-y: scroll;
}
@media (min-width: 1200px) {
  .shl-widget {
    background-color: white;
    border-right: 1px dashed #64aed0;
    padding: 1em; 
    position: sticky !important;
    top: 0px;
  }
  .sidebar-holder {
    display: flex;
    gap: 1em;
    flex-direction: row-reverse
  }

  .agp {
    max-height: 100vh;
    flex-grow: 1;
  }

}

@media (max-width: 1200px) {
  .shl-widget {
    padding: 1em;
    background-color: white;
    border: 1px dashed #64aed0;
    display: inline-block;
    margin: 1em;
    margin-left: 0px;
  }
  .sidebar-holder {
    padding-left: 1em;
    box-sizing: border-box;
  }
}

